
#animal_profiles{
    grid-template-columns: 1fr 1fr 1fr;
}

.animal_main_page{
    margin: 10px;
}

.small_animal_box{
    padding: 1em;
    background-color: white;
    border-radius: 10px;
    font-size: 30;
}

.details{
    display: block;
    margin-left: 2.5em;
    margin-top: 0.2em;
    color: #A909AC;
}

.animal_text_box{
    margin-left: 1em;
    margin-top: 0.6em;
    display: block;
    color: #19142C;
    font-size: 1.5em;
    font-weight: 900;
}