@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap%27');

header {
    background-color: #19142C;
    width: 100%;
    padding: 1.5em 0;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
}

header .login_register {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header .button {
    padding: 1em;
    margin-left: 1em;
    border-radius: 10px;
}

header .button-text {
    margin: auto;
    width: 7em;
    text-align: center;
    display: inline-block;
}

header #title{
    color: #A909AC;
    font-size: 3em;
    margin: auto 0.3em;
    font-weight: bold;

}


header #login {
    color: #EBEBEB;
    border-radius: 10px;
    background-color: #A909AC;
    width: 42%;
}

header #logout {
    color: #EBEBEB;
    border-radius: 10px;
    background-color: #A909AC;
    width: 45%;
}

header #register {
    color: #A909AC;
    margin: 0;
    border-radius: 10px;
    background-color:  #EBEBEB;
    margin-left: 12rem;
    
}

header #add_pet{
    color: #A909AC;
    margin: 0;
    border-radius: 10px;
    background-color:  #EBEBEB;
    margin-left: 6rem;
}

header #user{
    float: right;
    float: center;
}

