body {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
}

header .login_register {
    display: flex;
    flex-direction: row;
}

.body{
    display: flex;
    flex-direction: row;
}

aside {
    width: 12em;
}

.login_register_form {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.login_register_form label{
    margin: auto;
}

.login_register_form #buttons-section {
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

#login_register_outer_box{
    width: 30%;
    margin: 10% auto;
}

#animal_profiles{
    margin: auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#animal_main_page{
    display: flex;
    padding: 1em;
    flex-direction: column;
    margin: auto;
}

#animal_main_page > label{
    text-align: center;
}