body {
    width: 80em;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'filter animals animals animals animals animals'
}

.animal_main_page{
    grid-area: animals;
}

header {
    display: flex;
    flex-direction: row;
    grid-area: header;
}

header .login_register {
    display: flex;
    flex-direction: row;
}

aside {
    max-width: 12em;
    grid-area: filter;
}

.login_register_form {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.login_register_form label{
    margin: auto;
}

.login_register_form #buttons-section {
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

#login_register_outer_box{
    width: 30%;
    margin: 10% auto;
}