body {
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
}

header .login_register {
    display: flex;
    flex-direction: row;
}

.body{
    display: flex;
    
}

#animal_profile_body{
    display: grid;
    grid-template-columns: 16em auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
            "profile photos photos"
            "profile questions proposals";
    grid-gap: 40px;
    width: 100%;
}

.user_page{
    display: grid;
    grid-template-columns: 16em auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "profile non_adopted adopted"
            "proposals favourites favourites"
            "proposals posts posts";
    grid-gap: 40px;
    width: 100%;

}

label.question_text_box{
    max-width: 11em;
}

aside#user_profile{
    grid-area: profile;
}

section#non_adopted_animals{
    display: flex;
    flex-direction: column;
    grid-area: non_adopted;
}

section#non_adopted_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}


section#adopted_animals{
    display: flex;
    flex-direction: column;
    grid-area: adopted;
}

section#adopted_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

section#user_favourite_animals{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-area: favourites;
}
section#favourites_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.4rem;
}

section#user_proposals{
    display: flex;
    flex-direction: column;
    grid-area: proposals;
}
section#user_posts{
    display: flex;
    flex-direction: column;
    grid-area: posts;
}
section#posts_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

aside {
    width: 16em;
}

.login_register_form {
    margin: 1em;
    display: flex;
    flex-direction: column;
}

.login_register_form label{
    margin: auto;
}

.login_register_form #buttons-section {
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

#login_register_outer_box{
    width: 30%;
    margin: 10% auto;
}

#animal_profiles{
    margin: auto;
    padding: 0.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#animal_profile{
    display: flex;
    flex-flow: column;
}

#animal_main_page{
    display: flex;
    padding: 1em;
    flex-direction: column;
    margin: auto;
}

section#favourites{
    margin: auto;
}
form#favourite_form{
    margin: auto;
    padding: 1em;
}

#animal_main_page > label{
    text-align: center;
}

aside#animal_profile{
    grid-area: profile;
}

section#questions{
    grid-area: questions;
    display: flex;
    flex-flow: column;
}

#animal_main_section{
    grid-area: photos;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#proposals{
    grid-area: proposals;
}

section#proposals{
    max-width: 30em;
}

div#question_header,
div.proposal{
    display: flex;
}

a#author{
    margin: auto 1em auto 0;
}

span.date{
    margin: auto auto auto 0;
}

button.dropdown_button{
    margin: auto 0 auto auto;
}

p#question_text{
    margin: 1em auto 1em 2em;
    max-width: 23em;
    border: #bebebe solid 3px;
    border-radius: 5px;
    padding: 0.3em;
    background-color: #bebebe;
}

div[id^="replies_dropdown"]{
    margin: 1em 2em 1em auto;
    max-width: 30em;
    border: #bebebe solid 3px;
    border-radius: 5px;
    padding: 0.3em;
    background-color: #bebebe;
}

div[id^="replies_dropdown"] p{
    margin: auto auto auto 2em;
    text-align: left;
}
div[id^="replies_dropdown"] textarea{
    width: 100%;
    resize: none;
}

div.reply p{
    text-align: right;
    margin: auto 1em auto auto;
}

form#ask_question textarea{
    width: 100%;
    height: 6em;
    resize: none;
}

div#proposal_head{
    display: flex;
}

div#proposal_head label{
    margin: auto 1em auto auto;
}
div#proposal_head label:first-child{
    margin: auto  auto auto 0;
}

div#change_state_div {
    display: flex;
    flex-flow: row;
}
div#change_state_div input[type="submit"]{
    width: 6em;
    text-align: center;
}

.animal_profile_info {
    width: 16em;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    grid-template-areas:
            "tag info";
}

label.tag{
    grid-area: tag;
    margin-left: 0.1em;
    margin-right: auto;
}

label.info{
    grid-area: info;
    margin-left: auto;
    margin-right: 0;
    width: 10.4em;
}
