body {
    background-color: #bebebe;
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
}

a:hover,
button:hover{
    cursor: pointer;
}

/* COLORED LINKS */

a:link {
    color:inherit;
 }

/* HEADER */

header {
    background-color: #252531;
    padding: .8em;
    margin: 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

header .login_register {
    display: inline;
    margin: auto 2em auto auto;
}

header .button {
    padding: 1em;
    margin-left: 1em;
    border-radius: 10px;
}

header .button-text {
    margin: auto;
    width: 7em;
    text-align: center;
    display: inline-block;
}


header #login,
header #add-pet{
    border: #8bc7b5 solid 4px;
    color: #8bc7b5;
    border-radius: 10px;
    background-color: #fdfefe;
}

header #register {
    border: #ed3a58 solid 4px;
    border-radius: 10px;
    background-color: #ed3a58;
}

header #user{
    color: white;
    margin: auto;
}

header #title {
    font-family: "Ubuntu Thin", sans-serif;
    font-size: 3em;
    margin: auto 0.3em;
    color: white;
}



/* HEADER BUTTONS */

.login_register_form button {
    font-size: 1.2rem;
    flex: 1;
    border: #ed3a58 solid 4px;
    border-radius: 10px;
    background-color: #ed3a58;
}

.login_register_form span{
    font-size: 1.2rem;
    flex: 1;
    border: #ed3a58 solid 4px;
    border-radius: 10px;
    background-color: #ed3a58;
    text-align: center;
}

#buttons-section button:first-child{
    margin-right: 0.5em;
}

#login_register_outer_box {
    background-color: #ffffff;
    padding: 1em;
}

#login_register_title{
    font-size: 3rem;
    color: #323232;
    margin:  10% auto 15% auto;
    text-align: center;
}

.no_link_style{
    text-decoration: none;
    background-color: inherit;
}

.no_link_style:hover{
    cursor: pointer;
}

.animal_image_box,
.animal_image_box:hover,
.animal_text_box{
    cursor: pointer;
}



/* PET SELECTOR */


aside {
    background-color: white;
    margin: 0 0 auto 0;
}



a {
    all: unset;
    text-decoration: none;
}

ul.no_bullet li {
    list-style-type: none;
}

#filterElement {
    padding: 0;
    margin: 0;
}

.multipleSelector,
.radioSelector,
.textInput,
.intRange {
    padding: 1em;
    margin: 0;
}

#filterTag {
    background-color: #232323;
    color: #ffffdc;
    padding: 1em;
    display: flex;
}
#filterTag button{
    float: right;
    margin: auto 0 auto auto;
}

#filterTag label{
    margin: auto auto auto 0;
}



button.dropdown_button{
    float: right;
}

div.multipleSelector,
div.radioSelector,
div.textInput,
div.intRange {
    border-bottom: 2px solid black;
}

.multipleSelector label input,
.radioSelector label input {
    display: none;
}

.radioSelector span {
    border-radius: 50%;
}
.textInput input.textInput{
    padding: 0.5em;
    width: 100%;
}

.intRange div{
    margin: 0.3em;
}
.intRange input[type="number"]{
    width: 4em;
    margin: 0.3em;
}
.dropdown_content{
    display: none;
}

.range_container{
    display: flex;
}

input.intInput[type=number]{
    margin: 0 0 0 auto;
}
label.intInput{
    margin: auto 0;
}

div.drop_down{
    display: flex;
}

label.drop_down{
    margin: auto auto auto 0;
}

.multipleSelector label span,
.radioSelector label span {
    height: 20px;
    width: 20px;
    top: 5px;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
}

.multipleSelector input[type="checkbox"]:checked+span::after,
.radioSelector input[type="radio"]:checked+span::after {
    content: "";
    height: 10px;
    width: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 1px solid grey;
    background: #f5b027;
    background-color: rgb(245, 176, 39);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: inherit;
}

input[type=text], input[type=password], input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

/* PET DISPLAY */


.pets_display{
    width: 100%;

}

.animal_main_page{
    margin: 5px;
}



img.animal_image_box{
    border: 5px solid white;
    border-radius: 3px;
}

.animal_box{
    background-color: white;
    width: fit-content;
    border: 10px solid white;
    border-radius: 10px;
}

.animal_box > label{
    display: block;
    padding-left: 2em;
    color: #252531;
}

.animal_box > label.animal_text_box{
    font-size: 2em;
    font-weight: 300;
    height: 40px;
    display: block;
    background-color: white;
    border-top: 1px solid #252531;
    padding-left: 0.8em;
    color: #252531;
}

.title_pets_display{
    color: purple;
    display: block;
    text-align: center;
    font-size: 3em;
    width: 100%;
}

.show_dropdown {
    display: block;
}

section#questions,
section#proposals{
    padding: 2em;
    background-color: #cccccc;
    border: #cccccc 2px solid;
    border-radius: 8px;
}

section#proposals{
    display: flex;
    flex-flow: column;
}

div.reply a#author{
    margin-left: 1em;
}

div.reply{
    background-color: #cabeca;
    padding-top: 0.5em;
    padding-bottom:  0.5em;
    margin: 0.4em;
}

div.proposal{
    padding: 0.3em;
    display: flex;
    flex-flow: column;
}

label#proposal-text{
    padding: 0.7em;
    background-color: #cabeca;
    border: #cccccc 2px solid;
    border-radius: 8px;
    margin: auto auto auto 1em;
}

form textarea#proposal-text{
    width: 100%;
    resize: none;
}

/* FOOTER */

.footer{
    background-color:  #252531;
    width: 100%;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 70px;
}

.footer .text{
    margin: 10px;
    margin-left: 5%;
    font-size: 1.2em;
    font-weight: 400;
    color:white;
}


/* ANIMAL PROFILE */

#animal_profile label{
    font-weight: 550;
    text-align: center;
    padding: 0.5em;
}

.profile_img{
    background-color: white;
    height: auto;
    vertical-align: middle;
    overflow: hidden;
}


/* ANIMAL PROFILE PICTURES */

.gallery_photo{
    border: 20px solid white;
    border-radius: 15px;
}

#animal_profile.animal_profile_box{
    border-radius: 15px;
}


/* ADD PET */

#pet_main_photo{
    width: fit-content;
    padding: 1em;
}
#pet_main_photo:first-child{
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 15px;
}

.grid_add_pet{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-self: center;
    margin-left: 1em;
}

.add_pet_input{
    margin-left: 1em;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            "pet_name   name_input     animal_length  length_input"
            "birthdate  birth_input    species        species_input"
            "color      color_input    gender         gender_input"
            "location  location_input  picture        picture_input";
    grid-gap: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 15px;
}

#pet_info{
    padding: 1.5em;
}

.add_pet_input > label{
    vertical-align: middle;
    line-height: 50px;
}

.add_pet_input > input{
    vertical-align: middle;
    height: 50px;
}

.add_pet_input > select{
    vertical-align: middle;
    height: 50px;
}


.user_page{
    display: grid;
    grid-template-columns: auto 0.4fr 1fr;
    grid-gap: 1em;
    min-height: 100px;
}

.user_page > div{
    text-align: center;
    margin: auto;
    font-size: 1.3em;
}

#user_profile{
    border-radius: 0px 0px 15px 15px;
}

#user_profile > label{
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    margin-top: 0.8em;
    color: #252531;
    border: 1px solid #252531;
    border-radius: 10px;

}

#user_profile:first-child{
    text-align: center;
}


.animal_image_box{
    background-color: white;
}

.animal_img_box{
    width: 210px;
    border: 4px solid white;
}

.animal_img_box > label{
    display: block;

}

#user_posts{
    display: grid;
    grid-template-columns: auto auto auto;
}


.question_text_box{
    padding: 0.8em
}

#user_proposals{
    background-color: white;
    border-radius: 15px;
    padding: 0.8em;
}

.proposal{
    min-height: 100px;
    margin: auto;
}

#user_posts > a.animal_main_page{
    border-radius: 15px;
    background-color: white;
    padding: 0.5em;
}
